.mainabout {
  height: 100%;
  width: 100%;
  position: relative;
}

.aboutbg {
  height: 100%;
  width: 100%;
  position: relative;
  background-position: center;
  object-fit: cover;
  background-size: cover;
  filter: blur(3px);
}

.aboutmain-content {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 10%;
  left: 43%;
  text-align: center;
  background-color: transparent;
}

.about-heading h1 {
  font-size: 50px;
  color: cyan;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 550px;
  width: 1300px;
  position: absolute;
  transform: translate(-40%, 10%);
}

.myphoto {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.myphoto .mypic {
  width: 70%;
  height: 70%;
  box-shadow: inset 0 0 0 9px rgb(255, 255, 255 / 30%);
  order: 1;
  justify-self: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: profile 8s ease-in-out infinite 1s;
  border: 7px solid rgb(253, 251, 251);
}

@keyframes profile {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.qualification-main {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.qualification-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.qualification-tab {
  display: flex;
  column-gap: 50px;
  margin-left: 30px;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.qualification-button {
  font-size: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: rgba(33, 33, 33, 0.862);
}

.qualification:hover {
  text-decoration: underline;
  font-style: italic;
}

.qualification-active {
  color: black;
  font-style: italic;
  background-color: rgb(119, 131, 185);
  padding: 10px 10px;
}

.qualification-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.qualification-section h1 {
  font-size: 35px;
}

.qualification-section .personal {
  font-size: 25px;
  font-style: italic;
}

.qualification-content {
  display: none;
}

.qualification-content-active {
  display: block;
  line-height: 35px;
}

.qualification-data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 0.5px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

.qualification-title {
  font-size: 19px;
}

.qualification-subtitle {
  display: inline-block;
  font-size: 14px;
}

.qualification-rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
}

.qualification-line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: white;
  transform: translate(6px, -7px);
}

.qualification-title {
  color: white;
  font-size: 24px;
}

.qualification-subtitle {
  color: white;
  font-size: 20px;
}

.qualification-calender {
  color: white;
  font-size: 20px;
  margin-bottom: 35px;
}

.download-button {
  display: flex;
  margin-top: 10px;
  padding: 10px 20px;
  position: relative;
  background-color: rgba(33, 33, 33, 0.862);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  margin-top: -190px;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: rgb(119, 131, 185);
}

.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}

@media only screen and (max-width: 1250px) and (min-width: 992px) {
  .myphoto .mypic {
    width: 70%;
    height: 70%;
  }
  .about-content {
    width: 1000px;
  }
  .mainabout {
    height: 140vh;
  }
  .qualification-title {
    color: white;
    font-size: 21px;
  }

  .qualification-subtitle {
    color: white;
    font-size: 18px;
  }

  .qualification-calender {
    color: white;
    font-size: 19px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 769px) {
  .myphoto .mypic {
    width: 90%;
    height: 70%;
    top: 70%;
  }
  .about-content {
    width: 670px;
  }
  .mainabout {
    height: 85vh;
  }
  .qualification-title {
    color: white;
    font-size: 21px;
  }

  .qualification-subtitle {
    color: white;
    font-size: 18px;
  }

  .qualification-calender {
    color: white;
    font-size: 19px;
    margin-bottom: 30px;
  }
  .qualification-button {
    font-size: 20px;
  }
  .qualification-tab {
    column-gap: 30px;
  }
  .myphoto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 150px; /* Adjust the value as needed to move it down */
  }
  .about-content {
    column-gap: 15px;
  }
  .resume {
    margin-right: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .myphoto .mypic {
    width: 90%;
    height: 70%;
  }
  .about-content {
    width: 670px;
  }
  .mainabout {
    height: 100vh;
  }
  .qualification-title {
    color: white;
    font-size: 21px;
  }

  .qualification-subtitle {
    color: white;
    font-size: 18px;
  }

  .qualification-calender {
    color: white;
    font-size: 19px;
    margin-bottom: 30px;
  }
  .qualification-button {
    font-size: 20px;
  }
  .qualification-tab {
    column-gap: 30px;
  }
  .myphoto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 150px; /* Adjust the value as needed to move it down */
  }
  .about-content {
    column-gap: 15px;
  }
  .resume {
    margin-right: auto;
  }
}

@media screen and (max-width: 480px) {
  .mainabout {
    height: 150vh;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 650px;
    width: 310px;
    position: absolute;
    transform: translate(-40%, 10%);
  }
  .myphoto .mypic {
    width: 100%;
    height: 100%;
  }
  .myphoto {
    padding-bottom: 70px;
  }
  .qualification-tab {
    column-gap: 40px;
  }
  .qualification-main {
    margin-right: 20px;
  }
  .qualification-title {
    color: white;
    font-size: 19px;
  }

  .qualification-subtitle {
    color: white;
    font-size: 16px;
  }

  .qualification-calender {
    color: white;
    font-size: 17px;
    margin-bottom: 30px;
  }
  .qualification-button {
    font-size: 18px;
  }
  .download-button {
    padding: 10px 10px;
    font-size: 16px;
  }
}

@media screen and (max-width: 391px){
  .mainabout {
    height: 170vh;
    width: 100%;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    column-gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 550px;
    width: 310px;
    position: absolute;
    transform: translate(-40%, 10%);
  }
  .myphoto .mypic {
    width: 85%;
    height: 90%;
    /* margin-left: 135px; */
  }
  .myphoto {
    padding-bottom: 70px;
  }
  .qualification-tab {
    column-gap: 25px;
  }
  .qualification-main {
    margin-right: 24px;
  }
  .qualification-title {
    color: white;
    font-size: 18px;
  }

  .qualification-subtitle {
    color: white;
    font-size: 16px;
  }

  .qualification-calender {
    color: white;
    font-size: 17px;
    margin-bottom: 30px;
  }
  .qualification-button {
    font-size: 16px;
  }
  .resume {
    margin-right: auto;
  }
  .download-button {
    padding: 10px 10px;
    font-size: 16px;
  }
}
