.top-btn {
  width: 3rem;
  height: 3rem;
  font-size: 2.4rem;
  border-radius: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  left: 94%;
  top: 85%;
  background-color: rgba(0, 255, 255, 0.497);
  color: black;
}

.top-icon {
  color: black;
  animation: top 0.8s linear infinite alternate-reverse;
}

@keyframes top {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0.3rem);
  }
}

@media screen and (max-width: 480px) {
  .top-btn {
    display: none;
  }
}

@media screen and (min-width: 500px){
  .top-btn{
    left:93%;
  }
}
