.main-portfolio {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: -20px;
  background-image: linear-gradient(
    to bottom,
    rgb(9, 17, 38),
    rgb(23, 110, 110)
  );
}

.image-project{
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
}

.mainimg-project{
  width: 450px;
  height: 330px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 72%;
  left:80%;
  border-radius: 10px 50px 30px; 
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.631);
}

.portfolio-header h1 {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 25%;
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: rgb(193, 166, 16);
  font-size: 32px;
  font-weight: bold;
  width: fit-content;
  padding: 10px;
  border: 1px solid #77aaff;
  box-shadow: -1px 1px 5px #77aaff, -2px 2px 5px #77aaff, -3px 3px 5px #77aaff,
    -4px 4px 5px #77aaff, -5px 5px 5px#77aaff;
}

.portfolio-content{
  background-color: rgb(72, 152, 195);
  height: fit-content;
  z-index: -1;
}

.portfolio-content h1 {
text-align: left;
transform: translate(-50%, -50%);
top: 42%;
left: 15%;
letter-spacing: 1.5px;
position: absolute;
font-size: 30px;
color: rgb(199, 182, 29);
}

.portfolio-content p {
text-align: left;
transform: translate(-50%, -50%);
top: 72%;
left: 30%;
position: absolute;
font-size: 24px;
color: white;
background-color: rgb(0, 0, 0, 0.3);
height: 290px;
width: 720px;
border-radius: 25px;
padding: 15px 20px;
line-height: 42px;
letter-spacing: 1px;
box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.631);
}

.portfolio-button {
background-color: "transparent";
border: 2px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
transform: translate(-50%, -50%);
top: 90%;
left: 81%;
color: white;
border:2px solid white;
background-color: transparent;
position: absolute;
font-size: 20px;
padding: 5px 10px;
}

.portfolio-button:hover{
  cursor: pointer;
  background-color: rgba(10, 24, 41, 0.966);
}


@media only screen and (max-width: 1500px) and (min-width: 1249px) {
.portfolio-content h1 {
  top: 40%;
  left: 13%;
  letter-spacing: 1.3px;
  font-size: 26px;
}

.portfolio-content p {
  top: 72%;
  left: 32%;
  font-size: 20px;
}
}

@media screen and (max-width:1250px) and (min-width:1050px){
.portfolio-content p{
  font-size: 22px;
  height: 330px;
  width: 550px;
  top: 72%;
left: 29%;
}
.image-project img{
  width: 420px;
  height: 350px;
  top: 72%;
  left:78%;
}
.portfolio-content h1{
  top:40%; 
  left:18%;
  font-size: 35px;   
}
.portfolio-button{
  left:75%;
}
}

@media screen and (max-width:1049px) {
.portfolio-content p {
  text-align: center;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  position: absolute;
  font-size: 30px;
  color: white;
  background-color: rgb(0, 0, 0, 0.3);
  height: 500px;
  width: 700px;
  border-radius: 25px;
  padding: 15px 20px;
  line-height: 50px;
  letter-spacing: 1px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.631);
}
.image-project img{
  width: 720px;
  height: 500px;
  top: 82%;
  left:50%;
}
.portfolio-content h1{
  top:22%; 
  left:24%;
  font-size: 38px;   
}
.portfolio-header h1{
  top:15%;
}
.main-portfolio{
  height: 160vh;
}
.portfolio-button{
  font-size: 33px;
  top: 91%;
left: 75%;
}
} 


@media screen and (max-width: 480px) and (min-width:350px){
.portfolio-content p {
  top: 42%;
  left: 50%;
  font-size: 20px;
  color: white;
  background-color: rgb(0, 0, 0, 0.3);
  height: 630px;
  width: 300px;
  border-radius: 25px;
  padding: 15px 20px;
  line-height: 45px;
  letter-spacing: 1px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.631);
}

.image-project {
  text-align: center;  /* Center the image within its container */
  margin-top: 0;  /* Add margin to the top for spacing */
}

.mainimg-project{
  max-width: 320px;
  top: 55%; 
}
.portfolio-content h1 {
  top: 17%;
  left: 34%;
  font-size: 24px;
}
.portfolio-header h1 {
  top: 10%;
  font-size: 20px;
  width: 270px;
}
.main-portfolio {
  height: 190vh;
}
.portfolio-button {
  font-size: 25px;
  top: 91%;
  left: 50%;
}
}
